:root {
    /* fonts */
    --font-karla: 'Karla', sans-serif;
    --font-regular: 400;
    --font-bold: 700;

    /* font size*/
    ---text-base: 1rem; /* 16 px*/

    /* colors */
    --colors-cyan: #2bb3b1; /* monthly subscription bg*/
    --colors-light-cyan: #4abebd; /* why us bg*/
    --colors-bright-yellow: hsl(71, 73%, 54%);
    --colors-light-gray: hsl(204, 43%, 93%);
    --colors-grayish-blue: hsl(218, 22%, 67%);

    /* border-radius size */
    --border-radius: 6px;
}

body {
    font-family: var(--font-karla);
    font-size: var(--text-base);
    background-color: var(--colors-light-gray);
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price-grid {
    margin: 2rem;
    border-radius: 8px;
    box-shadow: 0px 5px 10px 0px rgba(41, 136, 134, 0.3);
}

.price-grid .info,
.price-grid .subscription,
.price-grid .why-us {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.border-radius-first {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.border-radius-ls-bottom {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.price-grid .info {
    background-color:white;
}


.price-grid .info .title{
    font-weight: var(--font-bold);
    font-size: 1.25rem;
    color: var(--colors-cyan);
}

.price-grid .info .sub-title{
    color: var(--colors-bright-yellow);
    font-weight: var(--font-bold);
    font-size: 0.9375rem; /* 15px */
    margin-top: 0.75rem;
    line-height: 1.25rem;
}

.price-grid .info .desc{
    font-size: 0.825rem; /* 14px */
    font-weight: var(--font-regular);
    line-height: 1.625rem;
    color: var(--colors-grayish-blue);
    margin:0.625rem 0 0.375rem 0;
}

.price-grid .subscription{
    background-color: var(--colors-cyan);
    color:white;
}

.price-grid .subscription .title{
    font-size:1.1rem;
    font-weight: var(--font-bold);
}
.price-grid .subscription .price {
    display: flex;
    align-items: center;
    column-gap: 0.6rem;
}

.price-grid .subscription .price .number{
    font-weight: bold;
    font-size:2rem;
}

.price-grid .subscription .price .period{
    color: hsla(0, 0% , 100%, 0.7);
}

.price-grid .subscription .desc {
    margin-top: -0.5rem;
    color: hsla(0, 0% , 100%, 0.9);
    font-size: 0.97rem;
}

.price-grid .subscription .signup-btn{
    background-color: var(--colors-bright-yellow);
    border:1px solid var(--colors-bright-yellow);
    text-align: center;
    padding: 0.75rem 0;
    margin-top: 1.125rem;
    border-radius: var(--border-radius);
    box-shadow: 0px 5px 10px 0px rgba(41, 136, 134, 0.3);
    transition: background-color 0.5s ease, color 0.5s ease;
    cursor: pointer;
}
.price-grid .subscription .signup-btn:hover {
    color: var(--colors-bright-yellow);
    background-color: var(--colors-light-gray);
}

.price-grid .why-us{
    background-color: var(--colors-light-cyan);
}
.price-grid .why-us .title{
    color: white;
    font-weight: var(--font-bold);
    font-size: 1.1rem;
}
.price-grid .why-us .list{
    margin-top: 0.25rem;
}
.price-grid .why-us .list li {
    color: white;
    font-size: 0.85rem;
    font-weight: var(--font-regular);
    color: hsla(0, 0% , 100%, 0.7);
}


